<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-inverse py-3 px-4 solid">

    <div>
      <!-- Logo Image -->
      <!-- <img src="assets/images/logo.webp" style="width:2rem"> -->
  
      <a 
        class="font-roboto" 
        href="#"
        >
        Tone Check
      </a>
  
    </div>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">
              <span>
                <i class="fa-solid fa-address-card"></i>
                About
              </span>
            </a>
          </li>
  
        </ul>
      </div>
  
  </nav>
  