<section class="d-flex align-items-center" style="min-height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center tc-heading1 tc-hero-heading">
                <p style="color: red;">We're sorry, You are not eligible to participate in this study.</p>
            </div>
            <div class="col-md-8 text-center">
                <p>Your IP ({{this.ipAddress}}) and Cickwoker ID are recorded.</p>
            </div>

        </div>
    </div>
</section>