/*
In order to distinguish between the styles of framework and the styles of the project, we are going
to use the prefix "tc" (for tone-check) that indicates the project name.
*/

/* Fonts */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-courier-prime {
    font-family: 'Courier Prime', monospace;
}

/* Buttons */
.tc-btn1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

.tc-btn1 button {
    background-color: #f55e61;
}

/* Colors */
.tc-color-primary {
    color: #f55e61;
}

.tc-background-primary {
    background-color: #f55e61;
}

.tc-logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.tc-logo:hover {
    color: #fff;
    text-decoration: none;
}

.tc-hero-box {
    border: 3px dashed #f55e61;
    padding: 3rem 1rem 3rem 1rem;
    border-radius: 1rem;
}

/* All childern of parent tc-hero-box */
.tc-hero-box > * {
    text-align: center;
}

.tc-heading1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: #f55e61;
}

.tc-info1 {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
}

.tc-label {
    border: 0.5rem double white;
    padding: 0.5rem;
    background: #f55e61;
    color: white;
    border-radius: 1rem;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.tc-form-btn {
    color: white;
    border-color: rgb(103, 58, 183);
    background-color: rgb(103, 58, 183);
}

.tc-form-btn:hover {
    color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
    background-color: white;
}

.tc-btn-back {
    color: #f55e61;
    border-color: #f55e61;
}

.tc-btn-back:hover {
    color: white;
    background-color: #f55e61;
    border-color: #f55e61;
}

.tc-dashed-box {
    border: 3px solid #8d8d8d;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tc-policy-box {
    border: 3px dashed #f55e61;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tc-btn-radio {
    border-left: none;
    border-style: double;
    border-radius: 0rem;
}

.tc-policy-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.tc-policy-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Media Queries */

/* Very Small devices (phones, 600px and up) */
@media only screen and (min-width: 200px) {
    .tc-hero-heading {
        font-size: 1rem;
    }

    .tc-sub-heading {
        font-size: 1rem;
    }

    .back-btn-container {
        padding-top: 8rem;
    }
}

/* Small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tc-hero-heading {
        font-size: 1.5rem;
    }

    .tc-sub-heading {
        font-size: 1.5rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .tc-hero-heading {
        font-size: 1.5rem;
    }

    .tc-sub-heading {
        font-size: 1.5rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .tc-hero-heading {
        font-size: 2rem;
    }

    .tc-sub-heading {
        font-size: 2rem;
    }

    .tc-sub-heading p {
        margin-bottom: 0rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }
}

/* Extra Large devices (desktops, 1300px and up) */
@media only screen and (min-width: 1300px) {
    .tc-hero-heading {
        font-size: 2rem;
    }

    .tc-sub-heading {
        font-size: 2rem;
    }

    .tc-sub-heading p {
        margin-bottom: 0rem;
    }

    .back-btn-container {
        padding-top: 6rem;
    }
}
  