<!-- 
  Note: Adding "height: 100vh" instead of "min-height: 100vh" to the sections
  will result in an overflow of contents problem.
-->

<!-- Hero Section -->
<section id="hero" class="d-flex align-items-center" style="min-height: 100vh; padding-top: 5rem;">

    <div class="container-fluid">

      <!-- Greeting Box -->
      <div class="row d-flex justify-content-center">
        <div class="col-11 col-sm-10 col-md-8 tc-hero-box">

          <!-- Greeting Heading -->
          <div class="tc-heading1 tc-hero-heading">
              <i class="fa-regular fa-handshake"></i>
              <p>
                Greetings!
              </p>
          </div>

          <!-- Greeting Information -->
          <div class="tc-info1 text-dark mx-2">
            <p>We extend a warm welcome and express our gratitude for your voluntary commitment to participating in our study.</p>
            <ul class="text-left">
              <li>This website will help you complete your participation in <b>THREE SIMPLE STEPS</b>.</li>
              <li>Anticipated time to complete: <b>10- 15 minutes</b>.</li>
              <li> Kindly adhere to the instructions displayed on the screen to proceed with your valuable input.</li>
            </ul>
            <p>Thank you for your cooperation!</p>
          </div>

          <!-- Next Button -->
          <div class="tc-btn1">
            <button 
            type="button" 
            class="btn btn-danger px-4"
            (click)="onInternalLink('/prescreening')"
            >
              Next
            </button>
          </div>

        </div>
      </div>
    </div>
    
</section>
<!-- Hero Section Ends -->