<div class="container-fluid back-btn-container">
    <div class="row justify-content-around">
        <div class="col-md-10">
            <button 
                [disabled]="!isBtnDisabled"
                type="button" 
                class="btn btn-outline-danger btn-sm"
                (click)="onBackBtn('/niche-and-privacy-policies')"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                        Back
                </span>
            </button>
        </div>
    </div>
</div>

<section id="policy" class="d-flex align-items-center my-3" style="min-height: 100vh">

    <div class="container-fluid m-1">

        <div class="row justify-content-center">
            <div class="col-md-10 text-center tc-heading1">
                <p>Time remaining: {{ countdown }} seconds</p>
                <p class="font-weight-light"> 
                    Kindly examine the provided privacy policy for atleast <span class="font-weight-bold">1 minute</span>.
                    <br>
                    <span class="font-weight-bold">Back</span> button will be enabled after 1 minute.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10 tc-policy-box py-4">

                <div class="row">
                    <div class="col-md-12">
                        <p class="h3 tc-policy-title">
                            {{ policyData.IntroductionAndWhoWeAreTitle }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tc-policy-info">
                            {{ policyData.IntroductionAndWhoWeAre }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="h3 tc-policy-title">
                            {{ policyData.InformationWeCollectTitle }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tc-policy-info">
                            {{ policyData.InformationWeCollect }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="h3 tc-policy-title">
                            {{ policyData.AgeAndChildrenTitle }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="tc-policy-info">
                            {{ policyData.AgeAndChildren }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="h3 tc-policy-title">
                            {{ policyData.ChangingOurPrivacyNoticeTitle }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 tc-policy-info">
                        <p>
                            {{ policyData.ChangingOurPrivacyNotice }}
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>

<div class="container-fluid mb-4">
    <div class="row justify-content-around">
        <div class="col-md-10">
            <button 
                [disabled]="!isBtnDisabled"
                type="button" 
                class="btn btn-outline-danger btn-md"
                (click)="onBackBtn('/niche-and-privacy-policies')"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                        Back
                </span>
            </button>
        </div>
    </div>
</div>