<div class="container-fluid back-btn-container">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn tc-btn-back btn-outline-dark btn-sm"
                (click)="onBackBtn('/niche-and-privacy-policies')"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                        Back
                </span>
            </button>
        </div>
    </div>
</div>

<section id="policy" class="d-flex align-items-center" style="min-height: 80vh">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10 tc-policy-box py-4">

                <div class="row">
                    <div class="col-md-12">
                        <p class="h1">
                            Dummy Title
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. 
                            Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. 
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="h1">
                            Dummy Title
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. 
                            Quisquam, voluptatum. Quisquam, voluptatum. Quisquam, voluptatum. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-12">
            <button 
                type="button" 
                class="btn tc-btn-back btn-outline-dark btn-sm"
                (click)="onBackBtn('/niche-and-privacy-policies')"
            >
                <i class="fa-solid fa-angles-left"></i>
                <span class="px-4 font-weight-bold">
                        Back
                </span>
            </button>
        </div>
    </div>
</div>